<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Waldo Homepage</title>
    <link rel="stylesheet" href="homepage.css">
</head>
    <body>
        <h1>Where's Waldo App</h1>
        <div>
            <button><a href="waldo1">Waldo 1</a></button>
            <button><a href="waldo1">Waldo 2</a></button>
            <button><a href="waldo1">Waldo 3</a></button>
        </div>
        <footer>Made by Christian A. Valeri</footer>
        <script src="index.js"></script>
    </body>
</html>